* {
    background-color: rgb(48, 48, 48);
}

::placeholder {
    color: orangered;
    text-align: center;
}

.modal {
    background-color: orangered;
    height: 400px;
    width: 400px;
    text-align: center;
    position: relative;
    right: 0;
    left: 37%;
    top: 10%;
    padding-top: 50px;
}

input[type=text], input[type=number], input[type=file], textarea {
    margin-bottom: 10px;
    color: white;
    border-radius: 20px;
}

.moviecard {
    border: 1px solid white;
    border-radius: 25px;
    width: 20%;
    height: 450px;
    background-color: rgb(48, 48, 48);
    margin-top: 25px;
    text-align: center;
    overflow: hidden;
}

.moviecard:hover {
    overflow-y: auto;
    overflow-x: auto;
    box-sizing: content-box;
    box-shadow: 0px 10px 100px white;
    background: rgba(255, 255, 255, 0.5);
    border: unset;
    border-radius: 100px;
    transition: background 0.8s, box-shadow 1s, border-radius 15s;
    cursor: pointer;
}

p {
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.plus {
    color: orangered;
    width: 400px;
    height: 100px;
    font-size: 50px;
    line-height: 18px;
    border: 1px solid orangered;
    cursor: pointer;
    border-radius: 20px;
}

.plus:hover {
    box-shadow: 0px 10px 100px white;
    background: rgba(22, 7, 7, 0.5);
    transition: background 0.5s, box-shadow 1s;
}

.search:hover {
    box-shadow: 0px 10px 100px white;
    background: rgba(22, 7, 7, 0.5);
    transition: background 0.5s, box-shadow 1s;
}

button {
    color: white;
}

.star {
    cursor: pointer;
    font-size: 50px;
}

input[type=radio] {
    display: none;
}

.moviecard::-webkit-scrollbar {
    width: 5px;
}

.moviecard::-webkit-scrollbar-track {
    background: grey;
    border-radius: 10px;
}

.moviecard::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.moviecard::-webkit-scrollbar-thumb:hover {
    background:orangered;
}